<body>
<div class="row header " >
                     <h1>Home Kitchen Boss</h1>
                    <div class="col s3">
                      <img src="/images/boss.png" class="icon">
                    </div>
                    <div class="col s7 "> 
                    <div class="results " id="results">
                      <div class="recipegrid">
                      </div> 
                    </div>
                </div>
              </form>
                    </div>
                </div>
                    </div>
          </body>
            <script src="javascript/ApiResults.js"></script>
          <script src="javascript/search.js"></script>