<body>
    <div class="row">
        <div class="logo">
            <h1>Home Kitchen Boss</h1>
        </div>
    </div>
    <div class="savory">
            
        </div>
    
    <div class="row main">
        
        
        <div class="summary">
            <h2>What's to love about this one!</h2>
        </div>
        <div class="ingredients">
            <h2>The keys to greatness</h2>
        </div>


        <div class="instructions">
            <h2>Instructions</h2>

        </div>
    </div>
<style>
.main{
    position: absolute;
    top: 30vh;
}
h1{
    width: 100%;
    height: 20vh;
    
}
body{
   background-color: cornsilk; 
}
h2{
    text-align: center;
    font-size: 2.5vw;
    color: dimgray;
    text-shadow: firebrick;
}

.summary{
    width: 60vw;
    height: auto;
   
    float: right;
    float: inline-start;
    
}
.instructions{
    width: 60vw;
    height: auto;
   
    border-color: rgba(235, 33, 6, 0.842);
    border-width: 5px;
    border-style: double;
    float: right;
    float: inline-start;
}
.savoryy{
    width: 30vw;
    height: 30vw;
   
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    float: inline-end;
}
.ingredients{
     width: 60vw;
    height: auto;
    float: right;
    float: inline-start;
}
</style>
<script src="/javascript/recipeData.js"></script>
          <script src="/javascript/recipe.js"></script>
</body>